
.keyboard {

	--scale: 16px;
	--width: 5em;
	--iconAlign: flex-end;

	display: flex;
	
	--hue: 0;
	--sat: 0%;
	--bg: hsl(var(--hue),var(--sat),90%);
	--fg: hsl(var(--hue),var(--sat),10%);
	--trans-dur: 0.3s;
	
	font-size: var(--scale);
}

.key {
	
	border: 0;
	box-sizing: border-box;
	margin: 0;

	color: var(--fg);
	font: 1em/1.5 -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
	
	background-color: hsl(var(--hue),var(--sat),95%);
	border-radius: 0.5em;
	box-shadow:
		-0.4em -0.25em 0.25em hsla(0,0%,0%,0.25),
		0 0 0 0.1em hsla(0,0%,0%,0.3),
		0.04em 0.04em 0.04em hsla(0,0%,0%,0.4) inset,
		-0.1em -0.1em 0.04em hsla(0,0%,100%,0.8) inset;
	color: hsl(var(--hue),var(--sat),50%);
	margin: 0 0.375em;
	outline: transparent;

	padding: 0.45em 0.75em;

	position: relative;
	width: var(--width);
	height: 5em;
	transition:
		background-color var(--trans-dur),
		box-shadow 0.15s,
		color var(--trans-dur);
	-webkit-appearance: none;
	appearance: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}



.key:active, .key.active {
	box-shadow:
		0 0 0.2em hsla(0,0%,0%,0.2),
		0 0 0 0.1em hsla(0,0%,0%,0.4),
		0 -0.05em 0 hsla(0,0%,0%,0.6) inset,
		-0.05em -0.15em 0.05em hsla(0,0%,100%,0.8) inset;
}

.label {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	transition: transform 0.15s;
}

.key:active .label, .key.active .label {
	transform: translateY(-1px);
}

/* Only the Character keys */
.charKeyText {
	display: flex;
	font-size: 2em;
	line-height: 1;
}

.wordKeyLabel {
	justify-content: space-between;
    align-items: var(--iconAlign);
}

.wordKeyIcon {
	/* margin: 0 0 auto auto; */
	font-size: 1.2em;
    display: block;
    width: 1em;
    height: 1em;
    font-weight: 500;
}
.wordKeyText {
    font-size: 1.075em;
    /* margin: 2.2em 0px 0 auto; */
    /* align-self: center; */
}



/* --------- FOCUS RING ---------  */
.key:before {
	box-shadow: 0 0 0 0.5em hsla(223,90%,50%,0);
	border-radius: 0.5em;
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: box-shadow var(--trans-dur);
}
.key:focus-visible:before {
	box-shadow: 0 0 0 0.5em hsla(223,90%,50%,0.3);
}

/* --------- DARK MODE ---------  */
.dark {
	.keyboard {
		--bg: hsl(var(--hue),var(--sat),20%);
		--fg: hsl(var(--hue),var(--sat),90%);
	}
	.key {
		background-color: hsl(var(--hue),var(--sat),15%);
		color: hsl(var(--hue),var(--sat),90%);
		box-shadow:
			-0.4em -0.25em 0.25em hsla(0,0%,0%,0.25),
			0 0 0 0.1em hsla(0,0%,0%,0.3),
			0.04em 0.04em 0.04em hsla(0,0%,0%,0.4) inset,
			-0.1em -0.1em 0.04em hsla(0,0%,100%,0.05) inset;
	}
	.key:active, .key.active {
		box-shadow:
			0 0 0.2em hsla(0,0%,0%,0.2),
			0 0 0 0.1em hsla(0,0%,0%,0.4),
			0 -0.05em 0 hsla(0,0%,0%,0.4) inset,
			-0.05em -0.15em 0.05em hsla(0,0%,100%,0.05) inset;
	}
}