
.DarkModeSwitchCanvas {
    --bg-dark: #1C1924;
    --bg-light: #FBFAFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 50vw;
    background-color: #FBFAFF;
    transition: background-color 0.3s ease;
}

:root.dark .DarkModeSwitchCanvas {
    background-color: var(--bg-dark) !important;
}

#theme-label {
    position: absolute;
    top: 0;
    right: 0;
    font-family: Helvetica, sans-serif;
    padding: 7px;
    font-size: small;
    color: #1C1924;
}

:root.dark #theme-label  {
    color: #FBFAFF;
}

